<!doctype html>
<html class="default no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
    <link rel="stylesheet" href="{{relativeURL "../css/main.css"}}">
    <link rel="stylesheet" href="{{relativeURL "../css/pygments.css"}}">
    <link rel="stylesheet" href="{{relativeURL "../css/theme.css"}}">
</head>
<body>

<nav class="main-nav" markdown="0">
  <a class="nav-title" href="{{relativeURL "../"}}">lit-html</a>
  <div class="flex"></div>
  <a class="nav-item" href="{{relativeURL "../guide"}}">Guide</a>
  <a class="nav-item" href="{{relativeURL "index.html"}}">API</a>

  <a class="icon-github" href="https://github.com/polymer/lit-element" title="GitHub">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentcolor">
      <path d="M12,2C6.48,2,2,6.59,2,12.25c0,4.53,2.87,8.37,6.84,9.73c0.5,0.09,0.68-0.22,0.68-0.49c0-0.24-0.01-0.89-0.01-1.74c-2.78,0.62-3.37-1.37-3.37-1.37c-0.45-1.18-1.11-1.5-1.11-1.5c-0.91-0.64,0.07-0.62,0.07-0.62c1,0.07,1.53,1.06,1.53,1.06c0.89,1.57,2.34,1.11,2.91,0.85c0.09-0.66,0.35-1.11,0.63-1.37c-2.22-0.26-4.56-1.14-4.56-5.07c0-1.12,0.39-2.03,1.03-2.75c-0.1-0.26-0.45-1.3,0.1-2.71c0,0,0.84-0.28,2.75,1.05c0.8-0.23,1.65-0.34,2.5-0.34c0.85,0,1.7,0.12,2.5,0.34c1.91-1.33,2.75-1.05,2.75-1.05c0.55,1.41,0.2,2.45,0.1,2.71c0.64,0.72,1.03,1.63,1.03,2.75c0,3.94-2.34,4.81-4.57,5.06c0.36,0.32,0.68,0.94,0.68,1.9c0,1.37-0.01,2.48-0.01,2.81c0,0.27,0.18,0.59,0.69,0.49c3.97-1.36,6.83-5.2,6.83-9.73C22,6.59,17.52,2,12,2"/>
    </svg>
  </a>
</nav>

{{> header}}

<div class="container container-main">
    <div class="row">
        <div class="col-8 col-content">
            {{{contents}}}
        </div>
        <div class="col-4 col-menu menu-sticky-wrap menu-highlight">
            <nav class="tsd-navigation primary">
                <ul>
                    {{#each navigation.children}}
                        {{> navigation}}
                    {{/each}}
                </ul>
            </nav>

            <nav class="tsd-navigation secondary menu-sticky">
                <ul class="before-current">
                    {{#each toc.children}}
                        {{> toc.root}}
                    {{/each}}
                </ul>
            </nav>
        </div>
    </div>
</div>

{{> footer}}

<div class="overlay"></div>
<script src="{{relativeURL "assets/js/main.js"}}"></script>
<script>if (location.protocol == 'file:') document.write('<script src="{{relativeURL "assets/js/search.js"}}"><' + '/script>');</script>

{{> analytics}}

</body>
</html>
